.root {
  width: 210mm;
  min-height: 296mm;
  border: 1px #d3d3d3 solid;
  border-radius: 2px;
  margin-bottom: 32px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 5mm 10mm;
  line-height: 1.5;
  font-size: 11pt;
  color: #000;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  padding: 1mm;
  border-bottom: 1pt solid #000;
  text-align: center;
  font-size: 12pt;

  > p {
    margin: 0;

    &:first-child {
      font-size: 14pt;
    }
  }
}

.orderInfoTable {
  margin-bottom: 10mm;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  td {
    padding: 1mm;
    vertical-align: top;
  }
}

.space td {
  padding-top: 4mm;
}

.invoice {
  border-top: 1pt dashed rgba(0, 0, 0, 0.25);
}

.table {
  thead {
    white-space: nowrap;
    text-align: left;
  }

  :global(.ant-table-thead > tr > th) {
    background-color: #fff;
    padding: 1mm;
    font-size: 11pt;
    line-height: 1.5;
    border-bottom: 1.5pt solid #000;
  }

  td {
    padding: 1mm;
    vertical-align: top;
    font-size: 11pt;
    line-height: 1.5;
    border-bottom: none;
    color: #000;
  }
}

.total {
  text-align: right;
  border-top: 1pt solid #000;
  padding: 1mm;
  vertical-align: top;
}
