.root {
  min-height: 296mm;
  border: 1px #d3d3d3 solid;
  border-radius: 2px;
  margin-bottom: 32px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
  font-size: 11pt;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8mm;

  &:last-child {
    margin-bottom: 0;
  }
}

.tip {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 17px;
}
