.root {
  min-height: 296mm;
  border: 1px #d3d3d3 solid;
  border-radius: 2px;
  margin-bottom: 32px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 5mm 10mm;
  line-height: 1.4;
  font-size: 11pt;
  color: #000;

  &:last-child {
    margin-bottom: 0;
  }
}

.shipment {
  margin: 0 auto 5mm;
}

.line {
  border-bottom: 1pt dashed black;
}
