.root {
  min-height: 296mm;
  border: 1px #d3d3d3 solid;
  border-radius: 2px;
  margin-bottom: 32px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
  font-size: 11pt;
  color: #000;
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }
}

.submit {
  margin-bottom: 16px;
}
