// FIXME less dynamic import error
.carousel {
  width: 300px;
  padding: 0px;

  & > div {
    height: 300px;
    background: transparent !important;
    border: 0px !important;

    img {
      max-width: 300px !important;
      max-height: 300px !important;
    }
  }
}

// FIXME less dynamic import error
.collections {
  padding: 0px 25px 30px !important;

  & > div {
    padding: 0px !important;
  }
}
