@import './mixin.less';

.img {
  margin: 0px 0px 32px;
}

.block {
  margin: 0px 0px 16px;
}

.title {
  @title();
  margin: 0px 0px 10px;
}

.description {
  @description();
  margin: 0px 0px 20px;
}

.item {
  margin: 0px;

  :global(.ant-form-item-children) {
    display: flex;
    align-items: center;

    & > input {
      width: 300px;
      margin: 0px;
    }

    & > button:nth-child(2) {
      margin: 0px 8px 0px 16px;
    }
  }
}

.preview {
  padding: 12px 20px;
  background: #fafafa;
  border-radius: 5px;
  word-break: break-all;
}

.save {
  margin: 0px 8px 0px 0px;
}

.dpa {
  @dpa();
  margin: 36px 0px 20px;
}
