@import './mixin.less';

.title {
  @title();
}

.subtitle {
  @title();
  margin-bottom: 16px;
}

.description {
  @description();
}

.warning {
  @warning();
}

.form {
  :global(.ant-form-item-label) {
    color: rgba(0, 0, 0, 0.65);
    width: 70px;
    text-align: right;
    white-space: normal;
    word-break: break-all;
    margin-right: 8px;
  }

  :global(.ant-row) {
    margin-bottom: 16px;
  }
}

.button {
  margin: 24px 0 32px 78px;

  & > button:nth-child(1) {
    margin-right: 8px;
  }
}

.row {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  > div:first-child {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 20px;
    width: 70px;
    text-align: right;
    word-break: break-all;
    margin-right: 8px;
  }

  > div:last-child {
    flex: 1;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 12px 20px;
    width: 80%;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;

    &.empty {
      color: rgba(0, 0, 0, 0.65);
      font-weight: normal;
    }
  }
}

.dpa {
  @dpa();
}
