.root {
  height: 100%;
  background: #f0f2f5;
  overflow-y: auto;
  padding: 56px 24px 43px;
}

.header {
  max-width: 1056px;
  margin: 0 auto 24px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.content {
  max-width: 1056px;
  margin: auto;

  :global(.ant-tabs-tab) {
    text-align: right;

    > div {
      width: 100%;
    }
  }

  :global(.ant-card) {
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  :global(.ant-card-head-title) {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;

    :global(.anticon) {
      font-size: 24px;
      margin-right: 16px;
    }

    :global(.anticon-line-chart) {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  :global(.ant-card-body) {
    padding: 40px 50px 40px 32px;
  }

  :global(.ant-tabs-content) {
    padding: 0px 0px 6px 26px;
  }
}
