@import '~@meepshop/utils/styles/variables.less';

.root {
  width: 224px;

  & > div:first-child {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  :global(.ant-cascader-picker) {
    width: 100%;

    @media (max-width: @screen-sm-max) {
      font-size: 16px;
    }
  }

  :global(.ant-select) {
    width: 100%;
    margin: 8px 0 32px;

    svg {
      transform: none;
    }
  }

  @media (max-width: @screen-sm-max) {
    width: 100%;
    padding: 40px 25px 32px;

    & > div:first-child {
      font-size: 16px;
    }

    :global(.ant-input) {
      height: 40px;
      padding: 6px 11px;
      font-size: 16px;
      line-height: 40px;
    }

    :global(.ant-select) {
      margin: 16px 0px 0px;
      font-size: 16px;

      &:global(.ant-select-single) {
        height: 40px;

        > div,
        input {
          height: 100%;
        }
      }

      :global(.ant-select-selection-placeholder) {
        line-height: 40px;
      }
    }
  }
}

.popupClassName {
  ul {
    width: calc(224px / 2);

    @media (max-width: @screen-sm-max) {
      width: calc((720px - 50px) / 2);
    }

    @media (max-width: 719px) {
      width: calc((100vw - 50px) / 2);
    }
  }
}

.notFoundContent {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  padding: 3px;

  & > i {
    font-size: 28px;
    padding: 2px;
  }
}
