@import '~@meepshop/utils/styles/variables.less';

.root {
  :global(.ant-tabs-nav) {
    margin-bottom: 0;
  }

  :global(.ant-tabs-nav-wrap) {
    justify-content: center;
  }

  :global(.ant-tabs-tab) {
    padding: 8px 16px;
  }

  :global(.ant-tabs-bar) {
    text-align: center;
    margin: 0px;
  }

  :global(.ant-tabs-tabpane) {
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;

    @media (max-width: @screen-sm-max) {
      > div {
        width: 100%;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    :global(.ant-tabs-tab) {
      padding: 12px 16px;
    }

    :global(.ant-tabs-tabpane) {
      padding: 0px;

      & > :nth-child(2) {
        width: 100%;
      }
    }
  }
}
