@import '~@admin/utils/lib/styles/variables.less';

.title {
  display: flex;
  align-items: center;
  margin-top: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;

  & > i {
    font-size: 14px;
    color: @primary-color;
    margin-left: 8px;
    cursor: pointer;
  }
}

.description {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0px 16px;
}

.item {
  display: flex;
  align-items: center;

  :global(.ant-form-item) {
    width: 300px;
    margin: 0px;
  }

  & > button:nth-child(2) {
    margin: 0px 8px 0px 16px;
  }
}

.code {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  & > div:first-child {
    color: rgba(0, 0, 0, 0.45);
    font-weight: normal;
  }

  & > i {
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
  }
}
