.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > div {
    flex-grow: 1;
  }
}

.footer {
  padding: 30px 0;
  text-align: center;

  > a {
    font-size: 12px;
    color: #9b9b9b;
    text-decoration: none;
  }
}
