/** Customer style */

* {
  /** make scrolling smoothy in safari, ios */
  -webkit-overflow-scrolling: touch;
  /* Because the default value of IE is diifferent with other browser */
  flex-shrink: 1;
}

html,
body {
  height: 100%;
}
