.table {
  margin-bottom: 16px;

  tr th {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}

.selected {
  padding-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);

  > span:nth-child(1) {
    margin-right: 2px;
  }

  > span:nth-child(2) {
    margin-right: 4px;
  }
}
