.table {
  margin-bottom: 16px;

  tr th {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}

.selected {
  padding-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);

  > span:nth-child(1) {
    margin-right: 2px;
  }

  > span:nth-child(2) {
    margin-right: 4px;
  }
}

.addProducts {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5967c5;
  font-size: 16px;
  line-height: 24px;
  border: 1px dashed #5967c5;
  cursor: pointer;

  &:hover {
    border: 1px dashed #3342ac;
    background-color: #fafbfc;
  }

  > span {
    font-size: 20px;
    margin-right: 8px;
  }
}

.adjustProducts {
  position: absolute;
  top: 26px;
  right: 32px;
  color: #5967c5;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;

  > span {
    font-size: 18px;
    margin-right: 4px;
  }
}
