@import '../../styles/mixin.less';

.root {
  margin-bottom: 40px;

  .title {
    @title();
  }

  .formItem {
    @formItem();
  }

  .nameRoot {
    display: flex;
  }

  .gender {
    width: 130px;
  }

  .birthday {
    width: 100%;
  }
}
