.root {
  margin: 24px 0px 16px;
  min-width: 788px;

  :global(colgroup) > col {
    &:nth-child(3),
    &:nth-child(4) {
      max-width: 120px !important;
      min-width: 96px !important;
    }

    &:nth-child(4) ~ * {
      width: initial !important;
    }
  }

  :global(.ant-table-thead .ant-table-cell .anticon) {
    margin: 0px 0px 0px 5px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 16px;
  font-size: 16px;
}
