.root {
  :global(.ant-modal-body) {
    padding: 16px 24px;
  }

  :global(.ant-modal-confirm-content) {
    margin: 4px 0px 0px;
  }

  :global(.ant-form) {
    margin: 16px 0px 0px;
  }

  :global(.ant-form-item) {
    margin: 0px 0px 16px;
  }

  :global(.ant-modal-confirm-btns) {
    margin: 4px 0px 0px;
  }
}

.subTitle {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.45);
}
