.ezpay_wrapper {
  margin: 30px auto;
  padding: 10px;
  max-width: 630px;
  font-size: 16px;
  line-height: 24px;
}

.ezpay_container {
  border: 3px solid #9ec2db;
  background-color: #eff5f9;
}

.ezpay_logo {
  display: block;
  margin: 0px auto 10px;
}

.ezpay_title {
  margin: 15px 0px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.ezpay_paycode {
  border: 3px solid #dae8f1;
  background-color: #ffffff;
  text-align: center;
  color: #ff2600;
  margin: 0px 40px;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
}

.ezpay_fields {
  display: grid;
  grid-template-columns: 70px auto;
  margin: 10px 54px;
}

.ezpay_block {
  margin: 10px;
  border: 3px solid #dae8f1;
  background-color: #ffffff;
}

.ezpay_notice {
  color: #ff2600;
  margin: 20px 0px 0px 20px;
}

.ezpay_noticeList {
  margin: 0px 43px;
}

.ezpay_ul {
  padding: 0px 20px;
}

.ezpay_imgs {
  display: grid;
  grid-template-columns:
    calc((100% - 8px * 3) / 4) calc((100% - 8px * 3) / 4) calc(
      (100% - 8px * 3) / 4
    )
    calc((100% - 8px * 3) / 4);
  grid-column-gap: 8px;
  margin: 22px 0px;
}

.ezpay_limitTime {
  color: #ff2600;
}

.ezpay_buttonWrapper {
  margin: 30px 0px;
  text-align: center;
}

.ezpay_actionBtn {
  color: #000000;
  margin: 0px 10px;
  padding: 5px 15px;
  opacity: 0.7;
  background: linear-gradient(
    180deg,
    #c1c1c1 0%,
    #d7d7d7 16.85%,
    #ffffff 29.63%,
    #ececec 51.94%,
    #767474 100%
  );
  border: 1px solid #979797;
  border-radius: 5px;
}

.ezpay_printBtn {
  color: #000000;
  margin: 0px 10px;
  padding: 5px 15px;
  opacity: 0.7;
  background: linear-gradient(
    180deg,
    #c1c1c1 0%,
    #d7d7d7 16.85%,
    #ffffff 29.63%,
    #ececec 51.94%,
    #767474 100%
  );
  border: 1px solid #979797;
  border-radius: 5px;
}

.ezpay_backBtn {
  color: #000000;
  margin: 0px 10px;
  padding: 5px 15px;
  opacity: 0.7;
  background: linear-gradient(
    180deg,
    #c1c1c1 0%,
    #d7d7d7 16.85%,
    #ffffff 29.63%,
    #ececec 51.94%,
    #767474 100%
  );
  border: 1px solid #979797;
  border-radius: 5px;
}

.ezpay_footerTip {
  color: #ff2600;
  text-align: center;
  margin: 10px 0px 0px;
}

@media screen and (max-width: 481px) {
  .ezpay_wrapper {
    margin: 30px 10px;
  }

  .ezpay_paycode {
    margin: 0px 10px;
  }

  .ezpay_fields {
    margin: 10px 20px;
  }

  .ezpay_notice {
    margin: 10px 0px 0px 10px;
  }

  .ezpay_noticeList {
    margin: 0px 10px;
  }

  .ezpay_imgs {
    grid-template-columns: calc((100% - 8px) / 2) calc((100% - 8px) / 2);
    grid-gap: 20px;
  }

  .ezpay_printBtn {
    display: none;
  }
}
