// TODO: add global className
:global(button > span) {
  color: inherit;
}

:global(pre) {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  word-break: break-word;
  white-space: pre-wrap;
}

:global(.ant-badge-count) {
  font-size: 10px;
}

:global(.ant-badge) {
  color: inherit;
}

:global(.meepshop.ant-menu-vertical),
:global(.meepshop.ant-menu-inline) {
  &:global(.ant-menu),
  &:global(.ant-menu .ant-menu-item-selected),
  :global(.ant-menu-item:hover),
  :global(.ant-menu-item:after),
  :global(.ant-menu-item-active),
  :global(.ant-menu-item.ant-menu-item-selected:after),
  :global(.ant-menu-submenu > .ant-menu),
  :global(.ant-menu-submenu:hover),
  :global(.ant-menu-submenu-active),
  :global(.ant-menu-submenu-title:hover),
  :global(.ant-menu-submenu-title:active),
  :global(.ant-menu-submenu-inline > .ant-menu-submenu-title:hover),
  :global(.ant-menu-submenu-open) {
    color: inherit;
    background: transparent;
    border: 0px;
  }
}

:global(.ant-menu-submenu-title) {
  transition: unset;
}

:global(.ant-menu-vertical .ant-menu-item),
:global(.ant-menu-vertical .ant-menu-submenu),
:global(.ant-menu-vertical > .ant-menu-item),
:global(.ant-menu-vertical > .ant-menu-submenu) {
  top: 0px;
  margin: 0px;
  border: 0px;
}

:global(.ant-menu-vertical .ant-menu-item:not(:last-child)) {
  margin: 0px;
}

:global(.ant-table-thead) > tr > th {
  background: transparent;
}
