.twd {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  line-height: 28px;
  padding: 0px 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .rate {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    line-height: 21px;
    margin-right: 32px;

    > div:first-child {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      > div:last-child {
        color: #363b4a;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin-left: 8px;
      }
    }
  }

  .fee {
    > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > div:last-child {
        text-align: right;
        min-width: 120px;
        margin-left: 24px;
      }
    }

    > div:last-child {
      margin-top: 8px;
      font-size: 14px;

      > div:last-child {
        color: #363b4a;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }
}

.usd {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  line-height: 28px;
  padding: 0px 16px;
  display: flex;
  justify-content: flex-end;

  > div:last-child {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: right;
    min-width: 120px;
    margin-left: 24px;
  }
}
