@import '../../constants/styles.less';

.root {
  display: flex;
  flex-grow: 1;

  @media @PHONE_MEDIA {
    & > div:first-child {
      display: none;
    }

    & > div:nth-child(2) {
      width: 100% !important;
    }
  }
}

.menu {
  display: block;
  padding: 0px;
  min-height: 600px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &.showArrow {
    :global(.arrow-icon) {
      display: block;
      font-size: 1.5em;
    }
  }

  &:global(.show-hover) {
    :global(.menu-1) {
      &:global(.ant-menu-submenu) {
        font-size: inherit;

        & > :global(.ant-menu-sub) {
          font-size: inherit;
        }
      }
    }

    :global(.menu-2),
    :global(.menu-3) {
      font-size: inherit !important;

      & > :global(.ant-menu-sub) {
        font-size: inherit;
      }
    }
  }

  :global(.ant-menu.ant-menu-inline) {
    :global(.ant-badge) {
      width: 100%;
    }

    :global(.ant-badge-count) {
      display: none;
    }

    :global(.menu-1) {
      display: block;
      width: 100%;
      min-height: auto !important;
      font-weight: normal;

      &:not(:global(.ant-menu-submenu)) {
        padding: 15px 15px 15px 25px !important;

        & > *:first-child {
          margin: 0px;
        }
      }

      &:global(.ant-menu-submenu) {
        padding: 0px;

        & > :global(.ant-menu-submenu-title) {
          margin: 0px;
          padding: 15px 15px 15px 25px !important;
          justify-content: space-between;
        }

        & > :global(.ant-menu-sub) {
          transition: unset;
        }
      }
    }

    :global(.menu-2),
    :global(.menu-3) {
      white-space: normal;
    }

    :global(.menu-2) {
      padding: 5px 15px 5px 40px !important;
    }

    :global(.menu-3) {
      padding: 5px 15px !important;
    }
  }
}
