.root {
  width: 100%;
  padding: 15px 5px;
  color: initial;
  font-size: 16px;

  * {
    word-wrap: break-word;
    white-space: pre-wrap;
    hyphens: auto;
    color: inherit;
  }

  p {
    white-space: pre-wrap;
    margin-bottom: 0px;
    color: initial;
  }

  ul,
  ol {
    list-style-position: inside;
    color: initial;
  }

  em,
  strong,
  span,
  a {
    color: inherit;
  }

  u span {
    text-decoration: underline;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
