.radioGroupWrapper {
  display: flex;
  justify-content: center;
}

.formWrapper {
  display: flex;
  justify-content: center;
};

.commonSubmitButton {
  margin: 0 5px 0 5px;
};

.commonForm {
  width: 500px;
}

.commonLoginBtnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
};

.loginFormOptionsWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20;
};

.loginFormPasswordInput {
  margin-bottom: 7.5px;
}

.loginFormFbLoginButton {
  color: #FFF;
  display: inline-block;
  background: linear-gradient(#4c69ba, #3b55a0);
  border: 1px solid #4c69ba;
  border-radius: 4px;
  -webkit-box-shadow: 0 -1px 0 #354c8c;
  -moz-box-shadow: 0 -1px 0 #354c8c;
  box-shadow: 0 -1px 0 #354c8c;
  cursor: pointer;
  font-family: Helvetica neue;
  font-size: 14px;
  font-weight: bold;
  min-width: 88px;
  padding: 0 15px;
  box-sizing: border-box;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .commonSubmitButton {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .commonLoginBtnWrapper {
    display: block;
  }

  .formWrapper {
    width: 100%;
  }

  .commonForm {
    width: 100%;
    padding: 0 15px;
  }

  .loginFormFbLoginButton {
    width: 100%;
    margin-top: 10px;
  }
}