@import '../../constants/styles.less';

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 7.5px 0px 0px;
}

:global(.button-group .ant-btn) {
  &:local(.fbLoginButton) {
    min-width: 88px;
    color: #fff;
    background: linear-gradient(#4c69ba, #3b55a0);
    border: 1px solid #4c69ba;
    border-radius: 4px;
    box-shadow: 0 -1px 0 #354c8c;
    font-family: Helvetica neue;
    font-size: 14px;
    font-weight: bold;
  }

  &:local(.goBackButton) {
    display: none;

    @media @PHONE_MEDIA {
      display: inline-block;
    }
  }
}
