@import '~@store/utils/styles/variables.less';
@import './mixin.less';

.root {
  @root();
  justify-content: center;
}

.title {
  @title();

  font-size: 44px;
  line-height: 64px;

  @media (max-width: @screen-sm-max) {
    font-size: 36px;
    line-height: 48px;
  }
}

.info {
  @info();
}

.block {
  @block();

  min-height: 200px;
  padding: 72px 88px;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: @screen-sm-max) {
    padding: 72px 32px;
  }

  > div:last-child {
    font-weight: 500;
    margin-top: 8px;
  }
}

.button {
  @button();
}

.hints {
  font-size: 14px;
  line-height: 22px;
  width: 100vw;
  position: absolute;
  left: 0px;
  bottom: 24px;

  @media (max-width: @screen-sm-max) {
    width: auto;
    position: initial;
    margin: 16px 8px 0px;
  }
}
