@import '~@store/utils/styles/variables.less';

/** ignore meepshop id */
@title: {
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;

  :global(.anticon) {
    margin-right: 8px;
  }

  @media (max-width: @screen-sm-max) {
    display: none;
  }
};
