@import '../../styles/mixin.less';

.itemRoot {
  display: flex;
}

.donate {
  .donateInput {
    display: flex;
  }

  :global(.ant-btn) {
    margin-left: 8px;
  }

  & > div:last-child {
    border-radius: 2px;
    background-color: rgba(204, 204, 204, 0.15);
    color: #666666;
    font-size: 13px;
    letter-spacing: 0.65px;
    line-height: 18px;
    margin: 7px 0px;
    padding: 14px 16px;
  }
}

.formItem {
  @formItem();
}
