.root {
  :global(.ant-alert) {
    margin-bottom: 12px;
    padding: 12px 24px;

    :global(.ant-alert-icon) {
      font-size: 20px;
      margin-right: 16px;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }

  :global(.ant-alert-message), :global(.ant-alert-description) {
    > span {
      color: #0080A9;
      font-weight: 600;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  :global(.ant-alert-message) {
    color: rgba(0,0,0,0.85);
  }

  :global(.ant-alert-warning) {
    background-color: #FFF7E6;
    border: 1px solid #FFC069;
  }

  :global(.ant-alert-error) {
    background-color: #FFF1F0;
    border: 1px solid #FFA39E;
  }

  :global(.ant-alert-info) {
    background-color: #E8E9F7;
    border: 1px solid #9EA6DD;

    :global(.ant-alert-icon) {
      color: #3342AC;
    }
  }
}
