@import '~@store/utils/styles/variables.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.root {
  width: 100%;
  word-break: break-all;

  .wrapper {
    margin: 0px auto;
    padding: 40px 0px;
    max-width: 1056px;

    h1 {
      display: flex;
      justify-content: space-between;
      margin: 0px;
      padding: 0px 15px;
      font-size: 16px;

      @media (max-width: @screen-sm-max) {
        margin: 0px 0px 20px;

        & > span:last-child > span {
          display: none;
        }
      }
    }
  }
}
