.root {
  & > div:nth-child(1) {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
  }

  & > div:nth-child(2) {
    color: rgba(0, 0, 0, 0.65);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 4px 0px 24px;
  }

  :global(.ant-form-item):last-child {
    margin-bottom: 0px;
  }
}
