.link {
  color: #00b8d6;
  font-weight: 500;
}

.currentPlan {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;
}

.plan {
  color: rgba(0, 0, 0, 0.65);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  & > span {
    font-size: 14px;
    font-weight: normal;
  }
}

.prompt {
  background-color: #fafafa;
  margin-top: 8px;
  padding: 7px 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  line-height: 22px;
}

.trial {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 16px;
}
