.root {
  :global(.ant-table-row) {
    height: 65px;
  }
}

.addBtn {
  font-size: 16px;
  align-self: flex-end;
  height: 40px;
}

.total {
  margin-left: 4px;
  color: #ccc;
  align-self: center;
}

.row {
  td {
    padding: 16px 12px;

    &:nth-child(1) {
      color: rgba(0, 0, 0, 0.65);
    }

    &:last-child > * {
      display: none;
    }
  }

  &:hover {
    td:last-child > * {
      display: inline-block;
    }
  }
}
