.row {
  margin-bottom: 16px;

  &:nth-of-type(2) {
    margin-bottom: 0;
  }

  :global(.ant-form-item) {
    margin-bottom: 0;
  }

  p {
    line-height: 22px;
    margin: 0 0 8px;
  }
}

.tooltip {
  margin-left: 4px;
}

.pathPreview {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 20px;
  padding: 0 8px;

  p {
    margin: 0;
  }

  span {
    color: rgba(0, 0, 0, 0.65);
    margin-left: 1px;
  }
}

.description {
  background-color: #fafafa;
  padding: 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}
