@import '~@store/utils/styles/variables.less';

.mobileShow {
  display: none;

  @media (max-width: @screen-sm-max) {
    display: block;
  }
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
}
