.root {
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(100% - 305px);
  align-items: center;
}

.title {
  margin: 22px 0px 8px;
  width: 75%;
  font-size: 20px;
  letter-spacing: 1.2px;
}

.iframe {
  width: 75%;
  height: 100%;

  :global(.ant-spin-container) {
    height: 100%;
  }

  iframe {
    position: absolute;
    width: 1920px;
    height: 100%;
    border: 0px;
    transform-origin: top left;
  }
}

.buttons {
  margin: 16px 0px 38px;

  > *:not(:last-child) {
    margin: 0px 16px 0px 0px;
  }
}
