@import '~@admin/utils/styles/variables.less';

.root {
  min-height: 100vh;
  padding: 56px 32px 48px;
  background: rgb(240, 242, 245);
  position: relative;
  overflow: visible;
}

.wrapper {
  max-width: 1520px;
  margin: 0px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;

  > div:first-child {
    display: flex;
    flex-direction: column;
  }
}

.title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 32px;
  margin-bottom: 24px;

  i {
    font-size: 18px;
    transition: 0.3s;
    transform: rotate(0deg);
    margin-left: 5px;
  }

  &:global(.ant-dropdown-open) {
    i {
      transform: rotate(180deg);
    }
  }
}

.options {
  :global(.ant-dropdown) {
    display: flex;
  }

  :global(.ant-dropdown-menu-item) {
    &:hover {
      background: transparent;
    }

    i {
      margin: 0px 4px 0px 0px;
      font-size: 8px;
      line-height: 22px;
      vertical-align: 0px;
    }
  }

  :global(.ant-dropdown-menu-item-active) {
    background: transparent;
  }

  :global(.ant-dropdown-menu-item-disabled) {
    background: #d8d8d8;

    &:hover {
      background: #d8d8d8;
    }
  }
}

.status {
  display: block;

  :global(.ant-radio-group) {
    flex-grow: 1;
    line-height: 40px;
  }
}

.operating > *:not(:last-child) {
  margin: 0px 16px 0px 0px;
}

.filter {
  display: flex;

  > div:first-child {
    flex-grow: 1;
    margin: 0px 0px 8px;

    > *:not(:last-child) {
      margin: 0px 8px 0px 0px;
    }
  }

  .search {
    max-width: 200px;
  }

  .reset {
    display: inline-block;
    padding: 4px 8px;
    color: @primary-color;
    line-height: 24px;
    cursor: pointer;
  }
}

.running {
  position: relative;
  color: rgb(197, 197, 197);
  background: transparent;

  &:hover > td {
    color: rgb(197, 197, 197);
    background: transparent;
  }

  :global(.ant-checkbox-wrapper) {
    display: none;
  }

  :global(.ant-spin) {
    position: absolute;
    left: calc(50% - 10px);
  }
}

.tableContainer {
  :global(.ant-table-row):not(.running) {
    :global(.ant-spin) {
      display: none;
    }

    :global(.ant-spin-dot-spin) {
      animation: initial;
    }
  }
}

.selected {
  color: @primary-color;
}

.pagination {
  user-select: none;
  font-size: 16px;

  :global(.anticon-left),
  :global(.anticon-right) {
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;

    &.disabled {
      color: #e8e8e8;
      cursor: not-allowed;
    }
  }

  :global(.anticon-left) {
    margin: 0px 8px 0px 0px;
  }

  :global(.anticon-right) {
    margin: 0px 0px 0px 8px;
  }
}
