@import '~@meepshop/utils/styles/variables.less';

.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: @screen-sm-max) {
    display: block;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  > div:first-child {
    margin: 0px 10px 8px 0px;
    line-height: 30px;

    @media (max-width: @screen-sm-max) {
      margin: 0px 0px 8px;
      line-height: 21px;
    }
  }

  > div:last-child {
    display: flex;
    flex-wrap: wrap;

    .node {
      margin: 0px 10px 8px 0px;
      padding: 5px 15px;
      line-height: 30px;
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;

      @media (max-width: @screen-sm-max) {
        padding: 5px 12px;
        line-height: 21px;
      }

      &.selected {
        transition: 0.5s;
      }
    }

    :global(.ant-select) {
      width: 100%;
      font-size: 14px;
    }

    :global(.ant-select-selection) {
      box-shadow: none;

      &:active,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.select {
  font-size: 14px;
  overflow: hidden;
  padding: 0;
}
