/** ignore meepshop id */

@block: {
  padding: 24px;
  width: 100%;
  color: rgba(0, 0, 0, 0.85);
  background: #ffffff;
  border-radius: 4px;

  &:not(:first-child) {
    margin: 16px 0px 0px;
  }
};
