.root {
  padding: 12px;
  background: #fafafa;
  border-radius: 4px;
  color: #a4adbb;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.block {
  &:not(:last-child) {
    margin: 0px 0px 6px;
  }

  span {
    font-weight: 600;
    color: #626c82;
  }
}

.title,
.subTitle {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.title {
  margin: 0px 0px 16px;
  font-weight: 600;
}
