/** ignore meepshop id */
@import '~antd/dist/antd.less';

@import '../../styles/variables.less';

* {
  /** make scrolling smoothy in safari, ios */
  -webkit-overflow-scrolling: touch;
  /* Because the default value of IE is diifferent with other browser */
  flex-shrink: 1;
}

html,
body,
:global(#__next) {
  height: 100%;
}

:global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  text-shadow: none;
}

:global(.ant-cascader-picker-arrow) {
  transition: transform 0.2s;

  &:global(.ant-cascader-picker-arrow-expand) {
    transform: rotate(180deg);
  }
}

:global(.ant-select-arrow) {
  transition: transform 0.2s;
}

:global(.ant-select.ant-select-open)
  :global(.ant-select-arrow)
  :global(.anticon:not(.anticon-search)) {
  transform: rotate(180deg);
}

:global(.ant-table) {
  background-color: transparent;
}

:global(.ant-input),
:global(.ant-select-selection-search-input),
:global(.ant-select-selection-item),
:global(.ant-select-selection-placeholder) {
  font-size: 16px;
}
