.root {
  border-radius: 2px;
  border: 1px solid rgba(#e8e8e8, 0.8);
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
