.root {
  :global(.ant-modal-body) {
    padding: 16px 24px 4px;
  }

  :global(.ant-modal-footer) {
    padding: 0 24px 16px;
    border-top: none;
  }

  :global(.ant-select) {
    width: 100%;
  }

  :global(.ant-select-selection-item),
  :global(.ant-input) {
    font-size: 14px;
  }

  h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin: 0 0 3px;
    line-height: 24px;
  }
}

.orders {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 16px;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
}

.item {
  margin-bottom: 16px;
}

.description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 0;
}
