.root {
  width: 100%;

  &.done {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cccccc;
    color: #999999;
    font-size: 24px;
    transition: all 0.3s ease;
  }
}
