@import './constants.less';

.server_error_root {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: #E4FAFA;
}

.server_error_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;

  @media @TABLET_MEDIA {
    flex-direction: column;
  }
}

.server_error_img {
  width: 550px;

  @media @TABLET_MEDIA {
    width: 296px;
  }
}

.server_error_text_section {
  margin-left: 20px;

  @media @TABLET_MEDIA {
    margin-left: 0;
    margin-top: 16px;
  }
}

.server_error_title {
  height: 30px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #4A4F5C;
  line-height: 30px;
  margin-bottom: 20px;

  @media @TABLET_MEDIA {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  @media @PHONE_MEDIA {
    font-size: 20px;
  }
}

.server_error_message {
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #757D97;
  line-height: 30px;

  @media @TABLET_MEDIA {
    font-size: 16px;
    text-align: center;
  }

  @media @PHONE_MEDIA {
    font-size: 14px;
    text-align: center;
  }
}