@import '~@store/utils/lib/styles/variables.less';

.root {
  display: flex;

  & > div {
    margin: 0px auto;
    width: 100%;
    max-width: 1120px;
    padding: 56px 30px;

    @media (max-width: @screen-sm-max) {
      padding: 20px 15px;
    }

    h1 {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 25px;

      span > span {
        @media (max-width: @screen-sm-max) {
          display: none;
        }
      }
    }
  }
}
