.root {
  width: 100%;

  > div {
    text-align: center;
    height: 50;
    line-height: 50px;
    font-size: 18px;
  }

  .form {
    text-align: center;
    max-width: 500px;
    margin: 56px auto;
    padding: 0px 15px;
    box-sizing: content-box;
  }

  :global(.ant-form-item) {
    height: 40px;
    margin: 0px;
  }

  :global(.ant-form-explain) {
    text-align: left;
  }

  button {
    margin-top: 24px;
  }
}
