@import '~@meepshop/utils/styles/variables.less';

.root {
  width: 100%;

  > *:first-child:nth-last-child(1) {
    width: 100%;
  }

  > *:first-child:nth-last-child(2),
  > *:first-child:nth-last-child(2) ~ * {
    width: calc(50% - 4px);

    @media (max-width: @screen-sm-max) {
      width: 100%;
    }
  }

  > *:first-child:nth-last-child(2) {
    margin: 0px 4px 0px 0px;

    @media (max-width: @screen-sm-max) {
      margin: 0px;
    }
  }

  > *:first-child:nth-last-child(2) ~ * {
    margin: 0px 0px 0px 4px;

    @media (max-width: @screen-sm-max) {
      margin: 0px;
    }
  }

  &.selectZipCode {
    > *:first-child:nth-last-child(2) {
      width: calc(80% - 4px);

      @media (max-width: @screen-sm-max) {
        width: 100%;
      }
    }

    > *:first-child:nth-last-child(2) ~ * {
      width: calc(20% - 4px);
      display: inline-block;

      @media (max-width: @screen-sm-max) {
        width: 100%;
      }
    }
  }
}
