.root {
  display: flex;
  font-size: inherit;

  :global(.ant-badge-count) {
    top: calc(100% - 24px);
    z-index: 1;

    :global(.ant-scroll-number-only-unit:not(.current)) {
      opacity: 0;
    }
  }
}
