.root {
  display: inline-flex;
  align-items: center;
  vertical-align: top;

  &.wrap {
    white-space: pre-wrap;
  }

  &.LEFT {
    flex-direction: row;

    .icon {
      margin: 0px 5px 0px 0px;
    }
  }

  &.RIGHT {
    flex-direction: row-reverse;

    .icon {
      margin: 0px 0px 0px 5px;
    }
  }

  &.UPON {
    flex-direction: column;

    .icon {
      margin: 0px 0px 5px 0px;
    }
  }

  &.BELOW {
    flex-direction: column-reverse;

    .icon {
      margin: 5px 0px 0px 0px;
    }
  }
}

.icon {
  font-size: 24px;
  flex-shrink: 0;
}
