@import '../../constants/styles.less';

.menuItem {
  font-weight: normal;
  font-size: inherit;
  transition: unset;

  &:global(.menu-1) {
    &:not(:global(.ant-menu-submenu)),
    &:global(.ant-menu-submenu-inline),
    & > :global(.ant-menu-submenu-title) {
      line-height: 1.5;
      padding: 15px 20px;
      font-size: inherit;
    }

    & > :global(.ant-menu-submenu-title) {
      display: flex;
      justify-content: space-between;
    }
  }

  &:global(.menu-2),
  &:global(.menu-3) {
    display: block;
    margin: 0px;
    padding: 10px;
    height: inherit;
    line-height: 1.5;

    &.fontBold {
      font-weight: bold;
    }

    &:global(.ant-menu-submenu-active) {
      color: inherit;
    }

    &:global(.ant-menu-submenu.ant-menu-submenu-popup) {
      padding: 0px;
    }

    & > :global(.ant-menu-submenu-title) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px;
      padding: 0px;
      height: inherit;
      line-height: 1.5;

      &:hover {
        color: inherit;
      }
    }
  }

  a {
    color: inherit !important;
  }
}

:global(.ant-menu-vertical) {
  .menuItem {
    &:global(.menu-1) {
      margin: 0px;
      height: 100%;

      &:not(:global(.ant-menu-submenu)),
      & > :global(.ant-menu-submenu-title) {
        display: flex;
        align-items: center;
      }

      & > :global(.ant-menu-submenu-title) {
        margin: 0px;
        height: 100%;

        & > :global(.ant-menu-submenu-arrow) {
          position: unset;
        }
      }
    }

    &:global(.menu-2),
    &:global(.menu-3) {
      @media @PHONE_MEDIA {
        font-size: 16px;
      }
    }
  }
}

:global(.ant-menu-inline) {
  .menuItem {
    &:global(.menu-1) {
      width: auto;
      height: auto;
      font-size: inherit;
      font-weight: bold;

      &,
      &:not(:last-child) {
        margin: 0px;
      }

      & > *:first-child {
        margin: 10px 0px;
        padding: 0px;
      }

      & > :global(.ant-menu-submenu-title) {
        justify-content: center;
        padding: 0px !important;
        width: 100%;
        height: auto;
        white-space: pre-wrap;
      }
    }

    &:global(.menu-2),
    &:global(.menu-3) {
      margin: 0px;
      padding: 3px 0px !important;
      height: auto;
      line-height: 1.5;
      font-size: inherit;

      & > :global(.ant-menu-submenu-title) {
        margin: 0px;
        padding: 3px 0px !important;
        height: auto;
        line-height: 1.5;
      }

      & > :global(.ant-menu-sub) {
        font-size: inherit;
      }
    }

    &:global(.menu-3) {
      padding: 3px 0px 3px 15px !important;
    }
  }

  :global(.ant-menu-submenu-title) {
    font-size: inherit;
  }
}
