@import '~@store/utils/styles/variables.less';

.img {
  width: 64px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (max-width: @screen-sm-max) {
    width: 56px;
  }

  &.productNotOnline:before {
    content: '';
    background: rgba(255, 255, 255, 0.65);
    width: 64px;
    height: 64px;

    @media (max-width: @screen-sm-max) {
      width: 56px;
      height: 56px;
    }
  }

  &.link {
    cursor: pointer;
  }
}

.title {
  font-size: 14px;
  line-height: 18px;

  & > div {
    margin: 8px 0px 0px;
  }

  .tags {
    margin: 4px 0px 0px;
    padding: 0px 0px 4px;

    :global(.ant-tag) {
      margin: 8px 8px 0px 0px;
      border: 0px;

      span:nth-child(2) {
        display: inline-flex;
        margin: 0px 0px 0px 4px;
        width: calc(100% - 12px);
        word-break: break-all;
        white-space: pre-wrap;
      }
    }
  }

  .price {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.hasError {
  display: block;
  color: #cf132d;

  & > div:last-child {
    margin: 4px 0px 0px;
  }

  &.mobile {
    display: none;

    @media (max-width: @screen-sm-max) {
      display: block;
    }
  }
}

.select {
  font-size: 16px;

  &.mobile {
    display: none;

    @media (max-width: @screen-sm-max) {
      display: inline-flex;

      :global(.ant-select-selection) {
        min-width: 80px;
      }
    }
  }
}

.gift {
  font-weight: bold;
  word-break: keep-all;
}

.cartDelete {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
