@import '~@store/utils/styles/variables.less';

.root {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px 0px;
  max-width: 500px;

  @media (max-width: @screen-sm-max) {
    padding: 15px;
  }
}

.button {
  margin: auto;
  background-color: transparent;
}
