.root {
  width: auto;
  height: auto;
  color: inherit;
  fill: inherit;

  :global(.ant-menu-submenu-title) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;

    &:hover {
      color: inherit;
      fill: inherit;
    }
  }
}

.menu-1 {
}

.popup > .ant-menu {
  border-radius: 0px;
}
