.root {
  display: inline-flex;
  align-items: center;
  vertical-align: top;

  &.LEFT {
    flex-direction: row;

    & > *:first-child {
      margin: 0px 5px 0px 0px;
    }
  }

  &.RIGHT {
    flex-direction: row-reverse;

    & > *:first-child {
      margin: 0px 0px 0px 5px;
    }
  }

  &.UPON {
    flex-direction: column;

    & > *:first-child {
      margin: 0px 0px 5px 0px;
    }
  }

  &.BELOW {
    flex-direction: column-reverse;

    & > *:first-child {
      margin: 5px 0px 0px 0px;
    }
  }
}

.link {
  color: inherit;
  fill: inherit;
}

.img {
  width: 1em;
  height: 1em;
}
