.label {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  padding-bottom: 8px;
}

.input {
  width: 288px;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
