/** ignore meepshop id */
@import '~antd/dist/antd.less';

@import './variables.less';

html,
body,
:global(#__next) {
  height: 100%;
}

:global(.ant-select-dropdown-menu-item) {
  &:global(.ant-select-dropdown-menu-item-active),
  &:hover {
    background: #e5e5e5;
  }
}

:global(.ant-tag) {
  color: #626c82;
  background-color: #f0f3f7;
  border: 0px;
}
