/** ignore meepshop id */
@import '~@meepshop/utils/lib/styles/styles.less';

@import '../../styles/variables.less';

:global(.ant-tag) {
  color: #626c82;
  background-color: #f0f3f7;
  border: 0px;
}

:global(.ant-input-search-button),
:global(.ant-input-search-button:hover),
:global(.ant-input-search-button:focus) {
  border-left: none;
}

:global(.ant-input-search .ant-input:hover),
:global(.ant-input-search .ant-input:focus) {
  border-right: none;
  box-shadow: none;
}

:global(.ant-input-search:hover),
:global(.ant-input-search:focus) {
  :global(.ant-input-search-button) {
    border-color: #25dbe8;
  }

  :global(.ant-input) {
    border-color: #25dbe8;
    border-right: none;
  }
}

:global(.ant-cascader-menus) {
  :global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled)),
  :global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover) {
    background-color: #fafafa;
  }

  :global(.ant-cascader-menu-item:hover) {
    background-color: #e6fffd;
  }
}

:global(.ant-select-dropdown) {
  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background-color: #e5e5e5;
  }

  :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled)) {
    background-color: #e6fffd;
  }
}

:global(.ant-message) {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;

  :global(.ant-message-notice-content) {
    padding: 12px 24px 12px 16px;

    :global(.anticon) {
      font-size: 24px;
      margin-right: 20px;
    }

    :global(.ant-message-custom-content) > * {
      vertical-align: middle;
    }
  }
}

:global(.ant-table-tbody > tr.ant-table-row-selected > td),
:global(.ant-table-tbody
    > tr.ant-table-row&.ant-table-row-selected:hover
    > td) {
  background-color: #f2fafb;
}

:global(.ant-table-tbody > tr.ant-table-row:hover > td) {
  background-color: #f6f6f6;
}
