/** ignore meepshop id */
@import '~@meepshop/utils/lib/styles/styles.less';

@import '../../styles/variables.less';

:global(.ant-tag) {
  color: #626c82;
  background-color: #f0f3f7;
  border: 0px;
}

:global(.ant-cascader-menus) {
  :global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled)),
  :global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover) {
    background-color: #fafafa;
  }

  :global(.ant-cascader-menu-item:hover) {
    background-color: #e6fffd;
  }
}

:global(.ant-select-dropdown) {
  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background-color: #e5e5e5;
  }

  :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled)) {
    background-color: #e6fffd;
  }
}

:global(.ant-message) {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;

  :global(.ant-message-notice-content) {
    padding: 12px 24px 12px 16px;

    :global(.anticon) {
      font-size: 24px;
      margin-right: 20px;
    }

    :global(.ant-message-custom-content) > * {
      vertical-align: middle;
    }
  }
}
