/** ignore generateScopedName */

/** override antd variables */
@font-family: 'PingFang TC', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  source-han-sans-traditional, Arial, sans-serif;
@primary-color: #00c5dc;
@layout-header-background: white;
@layout-body-background: white;
@layout-trigger-background: white;
@layout-trigger-color: #00c5dc;
@link-color: #00b8d6;

/** custom variables */
@menu-color: #51b4c6;
@menu-width: 55px;
@header-height: 55px;
