@import '~@store/utils/styles/variables.less';
@import './mixin.less';

@value screenSmMax from '@meepshop/utils/styles/variables.less';

.children {
  width: 100%;

  > div:first-child {
    width: 100%;
    height: 0px;
    transition: height 0.5s ease;

    &.display {
      height: 105px;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

  > div:last-child {
    height: 105px;
  }
}

.root {
  width: 100%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  padding: 24px 0px;

  > div:first-child {
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 48px;
    padding: 0px 24px 0px 16px;

    :global(.anticon) {
      font-size: 16px;
      margin-right: 6px;
    }
  }

  @media (max-width: @screen-sm-max) {
    flex-direction: column-reverse;
    margin: 0px 0px 64px;
    padding: 0px 16px;

    > div:first-child {
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      margin: 0px;
      padding: 16px 24px;
      justify-content: center;

      :global(.anticon) {
        font-size: 18px;
        margin-right: 7px;
      }
    }
  }
}

.button {
  width: 384px;
  height: 56px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0px 48px 0px 0px;
  padding: 16px;
  cursor: pointer;

  @media (max-width: @screen-sm-max) {
    width: 100%;
    font-weight: 600;
    margin: 0px;
  }
}

.disabled {
  cursor: not-allowed;
}
