@import '~@store/utils/styles/variables.less';

.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1120px;
  padding: 0 24px;

  @media (max-width: @screen-sm-max) {
    padding: 0 16px;
  }
}
