@import '~@store/utils/styles/variables.less';

/** ignore meepshop id */
@blockTitle: {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  padding-left: 12px;
  border-left: 4px solid #626c82;

  @media (max-width: @screen-sm-max) {
    font-size: 18px;
  }
};
