@import '~@store/utils/styles/variables.less';
@import './mixin.less';

.root {
  width: 100%;

  :global(.ant-table-thead > tr > th) {
    background-color: transparent;
    padding: 24px 24px 8px 0;
    font-size: 12px;
    color: inherit;

    @media (max-width: @screen-sm-max) {
      padding: 0;
      font-size: 0;
    }
  }

  :global(.ant-table-tbody) > tr:global(.ant-table-placeholder):hover > td {
    background: initial;
  }

  :global(.ant-table-empty .ant-table-cell) {
    padding: 0px;

    :global(.ant-skeleton) {
      padding: 24px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    :global(.ant-skeleton-avatar) {
      border-radius: 10px;
    }
  }

  .row {
    > td {
      padding: 24px 24px 24px 0;
      background-color: transparent;

      @media (max-width: @screen-sm-max) {
        padding: 20px 12px 20px 0;
      }

      &:global(.ant-table-selection-column) {
        padding: 24px;

        @media (max-width: @screen-sm-max) {
          padding: 20px 12px 20px 2px;
        }
      }
    }

    &:hover > td {
      background-color: transparent;
    }
  }

  &.unvailable {
    thead {
      display: none;
    }

    :global(.ant-table-row-expand-icon) {
      display: none;
    }

    td {
      padding: 32px 24px 16px 0;
      border: none !important;

      @media (max-width: @screen-sm-max) {
        padding: 20px 12px 12px 0;

        &:global(.ant-table-row-expand-icon-cell) {
          padding: 0;
        }
      }
    }

    :global(.ant-table-expanded-row) > td {
      background-color: transparent;
      padding: 0;
    }
  }
}

.title {
  display: none;

  @media (max-width: @screen-sm-max) {
    @blockTitle();
    display: inline-block;
    margin: 16px 0px 24px;
  }
}

.tip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: #fcecdd;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #9c4716;

  > span {
    font-size: 24px;
    margin-right: 8px;
  }

  @media (max-width: @screen-sm-max) {
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    margin: 0 -16px;

    > span {
      font-size: 22px;
    }
  }
}

.error {
}
