@import '~@store/utils/styles/variables.less';

.root {
  width: 100%;

  :global(.ant-table-thead > tr > th) {
    background-color: transparent;
    padding: 24px 24px 8px 0;
    font-size: 12px;
    color: inherit;

    @media (max-width: @screen-sm-max) {
      padding: 0;
      font-size: 0;
    }
  }

  :global(.ant-table-tbody) > tr:global(.ant-table-placeholder):hover > td {
    background: initial;
  }

  :global(.ant-table-empty .ant-table-cell) {
    padding: 0px;

    :global(.ant-skeleton) {
      padding: 24px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    :global(.ant-skeleton-avatar) {
      border-radius: 10px;
    }
  }

  .row {
    > td {
      padding: 24px 24px 24px 0;

      @media (max-width: @screen-sm-max) {
        padding: 20px 12px 20px 0;
      }
    }

    &:hover > td {
      background-color: transparent;
    }
  }
}

.error {
}
