@import '~@store/utils/styles/variables.less';

.root {
  width: 100%;

  :global(.ant-table-thead > tr > th) {
    background-color: transparent;
    padding: 24px 24px 8px 0;
    font-size: 12px;
    color: inherit;

    @media (max-width: @screen-sm-max) {
      padding: 0;
      font-size: 0;
    }
  }

  .row {
    > td {
      padding: 24px 24px 24px 0;

      @media (max-width: @screen-sm-max) {
        padding: 20px 12px 20px 0;
      }
    }

    &:hover > td {
      background-color: transparent;
    }
  }
}

.error {
}
