@import '~@store/utils/styles/variables.less';
@import './mixin.less';

.root {
  padding-top: 40px;

  :global(.ant-form-item-explain.ant-form-item-explain-error) {
    color: #bd373c;
  }
}

.title {
  @blockTitle();
}

.tip {
  padding: 16px;
  line-height: 22px;
  font-size: 14px;
  margin-top: 8px;
}

.alert:global(.ant-alert.ant-alert-error) {
  border: 1px solid #ffc288;
  background-color: #fcecdd;
  border-radius: 2px;
  padding: 12px 16px;
  margin-top: 24px;

  > :global(.anticon) {
    display: none;
  }
}

.errorShipment {
  display: flex;
  line-height: 24px;

  @media (max-width: @screen-sm-max) {
    flex-direction: column;
  }

  div {
    flex: 1;
    color: #9c4716;

    &:nth-last-child(1) {
      flex: none;
      width: auto;
      cursor: pointer;
      color: rgba(156, 71, 22, 0.8);
      font-size: 12px;
      margin-left: 5px;
      align-self: center;

      @media (max-width: @screen-sm-max) {
        align-self: flex-end;
        margin-top: 8px;
      }
    }
  }

  span.icon:global(.anticon) {
    color: #9c4716;
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 24px;
  }
}

.number {
  color: #d93d04;
  font-weight: bold;
  margin: 0 4px;
}
