.root {
  margin-bottom: 48px;

  :global(.ant-select) {
    width: 100%;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 18px;
  padding: 0px 5px;
}

.collapse {
  background: initial;
}

.panel {
  margin: 15px 0px 0px;
  border: 0px;
  border-radius: 2px;
  overflow: hidden;
}

.selectDropdown {
  width: 100%;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #bd373c;
  margin-top: -14px;
}
