@import '~@store/utils/styles/variables.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.root {
  padding: 64px 42px;
  flex-grow: 1;
  height: 100%;
  overflow-y: scroll;

  @media (max-width: @screen-sm-max) {
    padding: 0px;
  }
}

.loading {
  height: 100%;

  :global(.ant-skeleton) {
    padding: 19px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

  :global(.ant-skeleton-avatar) {
    border-radius: 10px;
  }
}

.empty {
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 5.824;
    transform: scale(-1, 1);
  }

  p {
    margin: 17px 0px;
    letter-spacing: 2px;
    color: #6f7070;
    font-size: 17px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;

  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

.table {
  :global(.ant-table-tbody > tr > td) {
    padding: 20px 8px;
    background: transparent;

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 24px;
      text-align: right;
    }
  }

  @media (max-width: @screen-sm-max) {
    margin: 0px 16px;

    :global(.ant-table-tbody > tr > td) {
      padding: 12px 6px;
      border-bottom: none;

      &:last-child {
        padding-right: 0px;
      }
    }
  }
}
