@import '~@store/utils/styles/variables.less';

.root {
  margin-bottom: 64px;

  @media (max-width: @screen-sm-max) {
    margin-bottom: 48px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 12px;
}

.placeHolder {
  padding-left: 12px;
  border-left-width: 2px;
  border-left-style: solid;
  font-size: 14px;
  line-height: 22px;
  margin-left: 2px;
  margin-bottom: 12px;
}
