@import '~@store/utils/styles/variables.less';

.root {
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  padding: 8px 40px 32px;

  :global(.ant-collapse) {
    font-size: 14px;
    line-height: 24px;
    background-color: initial;
  }

  :global(.ant-collapse-item) {
    display: flex;
    flex-direction: column-reverse;
    border: none;
  }

  :global(.ant-collapse-header) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0px 6px;
    font-size: 12px;
    line-height: 17px;

    :global(.anticon) {
      display: block;
      position: initial;
      padding: 0px 4px;
    }
  }

  :global(.ant-collapse-content-active) {
    border-radius: unset;
    padding-bottom: 4px;
  }

  :global(.ant-collapse-content-box) {
    padding: 16px 0px 0px;

    > div {
      display: flex;
      justify-content: space-between;
      padding: 0px 2px 8px;

      > div:last-child {
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
        margin-left: 8px;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    padding: 16px 18px 24px;
    box-shadow: none;

    :global(.ant-collapse) {
      line-height: 22px;
    }

    :global(.ant-collapse-header) {
      display: none;
    }

    :global(.ant-collapse-content-active) {
      padding-bottom: 0px;
      border-bottom: none;
    }

    :global(.ant-collapse-content-box) {
      padding: 0px;

      > div {
        padding: 0px 0px 4px;

        > div:last-child {
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;

  > div:last-child {
    font-size: 24px;
    line-height: 34px;
    white-space: nowrap;
    margin-left: 8px;
  }

  @media (max-width: @screen-sm-max) {
    font-size: 16px;
    line-height: 25px;
    margin-top: 6px;

    > div:last-child {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
