.root {
  :global(.ant-modal-content) {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 100px);
  }

  :global(.ant-modal-body) {
    padding: 16px 24px;
    height: 100%;
    overflow: scroll;
  }

  :global(.anticon.anticon-question-circle) {
    margin: 0px 0px 0px 5px;
  }
}

.title {
  display: block;
  margin: 0px 0px 8px;
  line-height: 14px;
}

.switch {
  line-height: 32px;

  :global(.ant-form-item) {
    display: inline-block;
    margin: 0px 8px 0px 0px;
  }
}

.notice {
  padding: 8px 16px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  background: #fafafa;
}

.templateCanNotDelete {
  position: absolute;
  bottom: 16px;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;

  :global(.anticon) {
    margin: 0px 5px 0px 0px;
  }
}

.tooltip {
  width: 200px;
  min-height: 32px;
}
