.action {
  cursor: pointer;
}

.mobile {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4;

  & > *:nth-child(even) {
    flex: 1 0 calc(100% - 55px);
    padding: 3px 0px;
  }

  & > *:nth-child(odd) {
    flex: 0 0 50px;
    margin: 0px 5px 0px 0px;
    padding: 3px 0px;
    font-weight: bold;
  }
}
