@import '../../constants/styles.less';

.root {
  width: 100%;

  &.original {
    padding: 15px 0px;
  }

  &.side {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
  }

  &.list {
    padding: 0 25px 30px;
  }

  @media @PHONE_MEDIA {
    &.list {
      padding: 0 15px 15px;
    }
  }
}

.imgWrapper {
  &.original {
    padding: 15px 0px;
    width: 100%;
  }

  &.side {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    width: 50%;
  }

  &.list {
    padding: 0;
  }

  .img {
    @media @PHONE_MEDIA {
      & > div {
        width: 100% !important;
      }
    }
  }
}
