.root {
  min-width: 80px;

  :global(.ant-select-arrow) {
    transition: transform 0.2s;
  }

  &:global(.ant-select-focused .ant-select-arrow) {
    transform: rotate(180deg);
  }

  :global(.ant-select-selection-item) {
    width: 100%;
    text-align: center;
  }

  :global(.ant-select-selection__rendered) {
    margin-right: 30px;
  }
}
