.replied {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 1px 11px;
  display: inline-block;
}

.markReply {
  color: rgba(0, 0, 0, 0.65);
  padding: 0px 6px;
  display: inline-block;

  &:hover {
    border-color: rgba(217, 217, 217);
  }
}
