@import '~@store/utils/styles/variables.less';

.root {
  width: 224px;

  & > div:first-child {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  :global(.ant-btn) {
    width: 100%;
    margin: 16px 0px 24px;
  }

  @media (max-width: @screen-sm-max) {
    width: 100%;
    padding: 40px 25px 8px;

    & > div:first-child {
      font-size: 16px;
    }

    :global(.ant-input) {
      height: 40px;
      padding: 6px 11px;
      font-size: 16px;
      line-height: 40px;
    }

    :global(.ant-btn) {
      height: 40px;
      font-size: 16px;
    }
  }
}
