@boderline: {
  &.isBorderline {
    position: static;

    &::after {
      background-color: #00afa6;
    }
  }
};

.root {
  width: 100%;
  position: relative;

  > div {
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 5;
  }

  &.up {
    @boderline();

    &::after {
      top: 0;
      right: 0;
      width: 100%;
      height: 6px;
      background-color: #1fa39c;
    }
  }

  &.down {
    @boderline();

    &::after {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 6px;
      background-color: #1fa39c;
    }
  }

  &.left::after {
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #1fa39c;
  }

  &.right::after {
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background-color: #1fa39c;
  }

  &.isDragging {
    opacity: 0;
  }

  &:hover {
    .handler {
      display: flex;
    }

    .mask {
      border: 2px solid #1e90ff;
    }
  }
}

.handler {
  position: absolute;
  z-index: 4;
  top: 8px;
  right: 50%;
  transform: translateX(50%);
  display: none;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: #1e90ff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;

  > span {
    cursor: pointer;
  }

  > *:not(:last-child) {
    margin-right: 16px;
  }
}

.mask {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border: 2px solid transparent;
  transition: 0.3s;
}

.module {
  pointer-events: none;
  min-height: 48px;
}
