@import '~@store/utils/lib/styles/variables.less';

.root {
  margin: 24px 0px 64px;
  max-width: 582px;
  color: #666666;
  font-size: 22px;
  letter-spacing: 2.25px;
  line-height: 30px;

  @media @phone-media {
    margin: 24px 0px 48px;
    font-size: 20px;
  }

  & > span {
    display: block;
  }
}
