@import '~@admin/utils/lib/styles/variables.less';
@import './variables.less';

.root {
  background-color: #f0f2f5;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  .content {
    width: 100%;
    height: 100%;
    padding: 24px 48px 50px;
    max-width: 1380px;
  }

  .payment {
    border-radius: @border-radius;
    box-shadow: @box-shadow;
    background-color: @background-color;
    margin-bottom: 16px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      display: flex;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      letter-spacing: 0.8px;
      line-height: 22px;

      .bold {
        color: rgba(0, 0, 0, 0.85);
      }

      .icon {
        color: red;
        font-size: 20px;
        margin-right: 16px;
      }
    }

    .link {
      margin-left: 32px;
      white-space: nowrap;
      color: @primary-color;
    }
  }

  .events {
    border-radius: @border-radius;
    box-shadow: @box-shadow;
    background-color: @background-color;
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    margin-bottom: 16px;

    & > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 88px;

      span:first-child {
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
      }

      span:last-child {
        color: #4f62c4;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1.4px;
        line-height: 36px;
        margin-top: 8px;
      }

      &:not(:last-child) {
        border-right: 1px solid #eaeaea;
      }
    }
  }

  .statistics {
    display: flex;

    & > div {
      border-radius: @border-radius;
      box-shadow: @box-shadow;
      background-color: @background-color;
      flex: 1;
      padding: 16px;
      min-height: 128px;

      &:not(:last-child) {
        margin-right: 8px;
      }

      img {
        width: 40px;
      }

      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;

        span:first-child {
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 20px;
        }

        span:last-child {
          color: #faad14;
          font-size: 28px;
          font-weight: 500;
          letter-spacing: 0.8px;
          line-height: 36px;
          white-space: nowrap;
          margin-left: 8px;

          &.green {
            color: #389e0d;
          }
        }
      }
    }
  }
}
