.member_settings_view_form_wrapper {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.member_settings_view_form {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 5px;
  max-width: 600px;
  width: 100%;
}

.member_settings_view_form_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;  
}

.member_settings_view_form_name_input {
  flex-basis: 100%;
  margin-right: 20px;
}

.member_settings_view_form_gender_input {
  flex-basis: 50%;
}

.member_settings_view_form_tel_input {
  flex-basis: 100%;
  margin-right: 20px;
}

.member_settings_view_form_mobile_input {
  flex-basis: 100%;
}

.member_settings_view_form_submit_button {
  height: 45px;
  width: 120px;
  background-color: transparent; 
}

.member_settings_view_form_submit_button:hover {
  background-color: transparent;
}

.member_settings_view_form_submit_button:focus {
  background-color: transparent;
}