.flex {
  display: flex;
}

.type {
  color: red;
  cursor: pointer;
  user-select: none;
}

.title {
  margin: 0px 20px 0px 0px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  user-select: none;
}

.option {
  color: inherit;
  cursor: pointer;
  user-select: none;

  &.isMatched {
    color: white;
  }
}

.array:not(:last-child) {
  margin: 0px 0px 20px;
}
