.root {
  display: flex;
  width: 100%;
  height: 100%;
  background: #e3fef5 url('/images/login/background.svg') center bottom / 100%
    no-repeat;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 40%;
    min-width: 396px;
    max-width: 560px;
    padding: 32px 48px 48px;
    text-align: center;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 30px 0 rgba(141, 151, 158, 0.2);

    & > * {
      width: 100%;
      max-width: 320px;
    }

    & > img {
      width: 72px;
      margin-bottom: 24px;
    }

    & > div:nth-child(2) {
      opacity: 0.85;
      color: rgba(0, 0, 0, 0.85);
      font-size: 30px;
      font-weight: 500;
      line-height: 38px;
      margin-bottom: 24px;
    }
  }

  :global(.ant-form-item) {
    margin: 0px 0px 16px;
    height: 40px;
  }

  :global(.ant-form-explain) {
    text-align: left;
  }

  :global(.ant-btn) {
    height: 48px;
    width: 320px;
    margin-top: 24px;
    border-radius: 50px;
  }

  .response {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    min-width: 396px;
    max-width: 560px;
    padding: 48px;
    text-align: center;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 30px 0 rgba(141, 151, 158, 0.2);

    & > div:nth-child(2) {
      opacity: 0.85;
      color: rgba(0, 0, 0, 0.85);
      font-size: 30px;
      font-weight: 500;
      line-height: 38px;
      margin: 16px 0px;
    }

    & > div:nth-child(3) {
      color: rgba(0, 0, 0, 0.65);
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }

  :global(.anticon-check-circle) {
    color: #52c41a;
    font-size: 48px;
  }

  :global(.anticon-exclamation-circle) {
    color: #c4c9eb;
    font-size: 48px;
  }
}
