/** ignore generateScopedName */
@import '~antd/dist/antd.less';

@import './variables.less';

* {
  /** make scrolling smoothy in safari, ios */
  -webkit-overflow-scrolling: touch;
  /* Because the default value of IE is diifferent with other browser */
  flex-shrink: 1;
}

:global(.ant-cascader-menus) {
  & > div {
    display: flex;
  }

  :global(.ant-cascader-menu-item) {
    display: flex;
    align-items: center;
    white-space: pre-line;
    word-break: break-word;
  }
}

:global(.ant-form-item) {
  margin: 0px 0px 14px;
}

:global(.ant-tabs-nav) {
  :global(.ant-tabs-tab) {
    &:hover {
      color: #00c5dc;
    }
  }

  :global(.ant-tabs-tab-active) {
    color: #00c5dc;
  }
}

:global(.ant-tabs-ink-bar) {
  background-color: #00c5dc;
}

:global(.ant-btn-primary) {
  background-color: #00c5dc;
  border-color: #00c5dc;

  &:hover {
    background-color: #00c5dc;
    border-color: #00c5dc;
  }

  &:focus {
    background-color: #00c5dc;
    border-color: #00c5dc;
  }
}

// fix ios safari rendering problem (T3764)
:global(.ant-select-dropdown-menu-item:last-child),
:global(.ant-select-dropdown-menu-item:first-child) {
  -webkit-transform: translate3d(0, 0, 0);
}
