/** ignore generateScopedName */
@import '~antd/dist/antd.less';

@import './variables.less';

:global(.ant-cascader-menus) {
  & > div {
    display: flex;
  }

  :global(.ant-cascader-menu-item) {
    display: flex;
    align-items: center;
    white-space: pre-line;
    word-break: break-word;
  }
}

:global(.ant-form-item) {
  margin: 0px 0px 14px;
}

:global(.ant-tabs-nav) {
  :global(.ant-tabs-tab) {
    &:hover {
      color: #00c5dc;
    }
  }

  :global(.ant-tabs-tab-active) {
    color: #00c5dc;
  }
}

:global(.ant-tabs-ink-bar) {
  background-color: #00c5dc;
}

:global(.ant-btn-primary) {
  background-color: #00c5dc;
  border-color: #00c5dc;

  &:hover {
    background-color: #00c5dc;
    border-color: #00c5dc;
  }

  &:focus {
    background-color: #00c5dc;
    border-color: #00c5dc;
  }
}
