@import '~@meepshop/utils/lib/styles/styles.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 5vh 15px;
  max-width: 530px;

  @media (max-width: @screen-sm-max) {
    max-width: unset;
  }

  :global(.ant-radio-group) {
    margin: 0 auto 32px;
    text-align: center;
  }
}

.hr {
  height: 1px;
  margin: 32px 0px;
}

.loginMessage {
  padding: 0px;
  margin-bottom: calc(60px - 5vh);
}
