@import '~@meepshop/utils/lib/styles/styles.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.root {
  :global(.ant-form-item) {
    margin-bottom: 14px;
  }
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;

  > div {
    cursor: pointer;
  }
}

.login {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.divider {
  font-size: 12px;
  margin: 48px 0 12px;

  :global(.ant-divider-inner-text) {
    color: rgba(98, 108, 130, 0.3);
  }
}

.lineLoginButton {
  flex: 1;
}

.fbLoginButton {
  flex: 1;
  width: 100%;
  color: #fff;
  background: #3b5998;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.5px;

  :global(.anticon) {
    font-size: 0;

    & + span {
      margin-left: 10px;
    }

    svg {
      font-size: 16px;
    }
  }

  span {
    vertical-align: middle;
  }
}

.buttonGroup {
  display: flex;

  > * {
    margin-top: 20px;

    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  @media (max-width: @screen-sm-max) {
    flex-direction: column;

    > *:not(:first-child) {
      margin-left: 0px;
    }
  }
}
