@import '~@meepshop/utils/lib/styles/styles.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.root {
  :global(.ant-form-item) {
    margin-bottom: 14px;
  }
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;

  > div {
    cursor: pointer;
  }
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  @media (max-width: @screen-sm-max) {
    flex-direction: column;
  }
}

.fbLoginButton {
  min-width: 88px;
  color: #fff;
  background: #3b5998;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.5px;

  :global(.anticon) {
    font-size: 0;

    & + span {
      margin-left: 10px;
    }

    svg {
      font-size: 14px;
    }
  }

  span {
    vertical-align: middle;
  }
}
