@import '~@meepshop/utils/styles/variables.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.wrapper {
  overflow: hidden;
  margin: auto;
  outline-offset: -1px;
}

.image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
