@import '~@meepshop/utils/styles/variables.less';

.wrapper {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;

  @media (max-width: @screen-sm-max) {
    width: 60px;
    height: 60px;
  }
}

.image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
