.root {
  display: flex;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}

.shareButton {
  display: flex;
  margin: 0px 2px;
  width: 28px;
  height: 28px;
  border-radius: 5px;

  svg {
    margin: auto;
    font-size: 22px;
    fill: white;
  }

  &.facebook {
    background: #3b5998;
  }

  &.line {
    display: initial;
    background: #00c300;
  }

  &.twitter {
    background: #1da1f2;
  }

  &.weChat {
    background: #2dc100;
  }

  &.whatsApp {
    background: #4dc247;
  }
}
