@import '~@admin/utils/styles/variables.less';

@collapsed: {
  a {
    width: 100%;
  }

  :global(.anticon) {
    display: none;
  }

  @media (min-width: @screen-lg) {
    &:hover:not(.loading) {
      a {
        display: none;
      }

      :global(.anticon) {
        display: inline-block;
      }
    }
  }
};

@svg: {
  & > svg {
    fill: #cfe3ef;
  }

  &:hover > svg {
    fill: #ecf4f9;
  }
};

.root {
  height: 100%;
  background: #f0f2f5;
}

.sider {
  background: #f7f8f9;
  box-shadow: 0px 0px 10px 0 rgba(33, 37, 54, 0.1);
  user-select: none;
  z-index: 1;

  @media (max-width: @screen-md-max) {
    flex: 0 0 64px !important;
    max-width: 64px !important;
    min-width: 64px !important;
    width: 64px !important;
  }

  &.hidden :global(.ant-layout-sider-children) {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 64px;
  font-size: 24px;
  background: linear-gradient(134.73deg, #459dd5 0.07%, #2a84bb 100%);
  overflow: hidden;

  @media (max-width: @screen-md-max) {
    @collapsed();
  }

  &.collapsed {
    @collapsed();
  }

  a {
    @svg();
    flex-grow: 1;
    text-align: center;
    height: 64px;
  }

  :global(.anticon) {
    @svg();
    padding: 20px;
    cursor: pointer;
  }
}

.disabled {
  cursor: not-allowed;
}
