.root {
  padding: 16px 8px;
  border-radius: 4px;
  background-color: #e6ebf1;
  color: #363b4a;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  div > span {
    color: #004a65;
    font-weight: 500;
  }

  :global(.ant-btn) {
    margin-top: 8px;
    width: 160px;
    background-color: #0080a9;
    border-color: #0080a9;
  }
}

.popover {
  :global(.ant-popover-arrow) {
    border-bottom-color: #e6ebf1;
    border-left-color: #e6ebf1;
  }

  :global(.ant-popover-inner) {
    background-color: #e6ebf1;
  }

  :global(.ant-popover-inner-content) {
    padding: 0px 16px;
  }
}

.icon {
  margin: 16px 8px;
  padding: 12px;
  border-radius: 4px;
  background-color: #0080a9;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  height: 48px;
  cursor: pointer;
}

.isNotCollapsed {
  margin: 16px;
}
