.root {
  margin: 30px auto 0px;
  max-width: 500px;

  :global(.ant-btn) {
    margin: 0px 16px 0px 0px;
    height: 45px;
    width: 100px;
    background-color: transparent;
  }
}

.buttons {
  text-align: center;
}

.hidden {
  display: none;
}
