@import '~@store/utils/lib/styles/variables.less';

.root {
  margin: 30px auto 0px;
  max-width: 500px;

  :global(.ant-btn) {
    margin: 0px 16px 0px 0px;
    height: 45px;
    width: 100px;
    background-color: transparent;
  }
}

.addressCascader {
  @media (max-width: @screen-sm-max) {
    > *:first-child:nth-last-child(2) {
      margin-bottom: 14px !important;
    }
  }
}

.buttons {
  text-align: center;
}

.hidden {
  display: none;
}
