@import '~@store/utils/lib/styles/variables.less';

.root {
  margin: auto;
  padding: 30px 0px;
  max-width: 840px;

  @media (max-width: @screen-sm-max) {
    padding: 15px;
  }

  :global(.ant-table-thead) > tr > th {
    background: transparent;
    font-size: 16px;

    &:last-child {
      display: none;
    }

    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }

  :global(.ant-table-tbody) > tr > td {
    &:last-child {
      display: none;

      @media (max-width: @screen-sm-max) {
        display: table-cell;
      }
    }

    &:not(:last-child) {
      @media (max-width: @screen-sm-max) {
        display: none;
      }
    }
  }

  :global(.ant-table-thead) > tr > th,
  :global(.ant-table-tbody) > tr > td {
    &:nth-child(3),
    &:nth-child(4) {
      white-space: nowrap;
    }
  }
}
