@import '../../constants/styles.less';

.root {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #dddddd;

  @media @PHONE_MEDIA {
    display: block;
    border-top: 0px;
  }
}
