.root {
  display: flex;
  justify-content: center;
  padding: 64px 0px 140px;
  font-size: 14px;
  line-height: 22px;
  color: #a4adbb;

  img {
    width: 80px;
  }

  :global(.ant-btn) {
    margin: 16px 0px 0px;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
  }
}

.divider {
  margin: 0px;
}

.title {
  margin: 16px 0px 6px;
  font-size: 16px;
  line-height: 24px;
  color: #626c82;
}
