.root {
  display: flex;
  margin: 0px 0px 24px;

  :global(.ant-input-group-wrapper) {
    max-width: 256px;

    input {
      height: 32px;
    }
  }

  :global(.ant-btn-link) {
    color: #5161c5;
  }

  &.empty {
    margin: 0px 0px 16px;
  }
}

.space {
  flex: 1 0 auto;
}

.programs {
  color: rgba(0, 0, 0, 0.85);
  background: transparent;
}

.rowClassName {
  cursor: pointer;
}

.affiliatePartners {
  margin: 0px 0px 16px;
  min-width: 788px;

  :global(.ant-table-container) table > thead > tr:first-child th,
  :global(.ant-table-tbody) > tr > td {
    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }
  }

  &.empty :global(.ant-table) {
    display: none;
  }
}
