.root {
  height: 50px;
  border-top: 1px solid #e8e8e8;
  display: flex;

  > div:first-child {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
}

.addToCart {
  width: 50%;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
