/** ignore meepshop id */
@import '~@meepshop/utils/styles/base.less';
@import '~@admin/message/styles/index.less';

@import './variables.less';

:global(.ant-tag) {
  color: #626c82;
  background-color: #f0f3f7;
  border: 0px;
}

:global(.ant-cascader-menus) {
  :global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled)),
  :global(.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover) {
    background-color: #fafafa;
  }

  :global(.ant-cascader-menu-item:hover) {
    background-color: #e6fffd;
  }
}

:global(.ant-select-dropdown) {
  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background-color: #e5e5e5;
  }

  :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled)) {
    background-color: #e6fffd;
  }
}
