/** ignore meepshop id */
@import '~@meepshop/utils/styles/variables.less';

/** override antd variables */
@font-family: 'PingFang TC', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  source-han-sans-traditional, Arial, sans-serif;
@primary-color: #00c5dc;
@layout-header-background: white;
@layout-body-background: white;
@layout-trigger-background: white;
@layout-trigger-color: #00c5dc;
@table-row-hover-bg: #f5f5f5;
@link-color: inherit;
@link-hover-color: #00c5dc;
@link-active-color: #00c5dc;
