.loginView-radioGroupWrapper {
  display: flex;
  justify-content: center;
}

.loginView-formWrapper {
  display: flex;
  justify-content: center;
};

.loginView-common-submitButton {
  margin: 0 5px 0 5px;
};

.loginView-common-form {
  width: 500px;
}

.loginView-common-loginBtn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
};

.loginView-loginForm-options-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20;
};

.loginView-loginForm-password-input {
  margin-bottom: 7.5px;
}

.loginView-loginForm-fbLogin-button {
  color: #FFF;
  display: inline-block;
  background: linear-gradient(#4c69ba, #3b55a0);
  border: 1px solid #4c69ba;
  border-radius: 4px;
  -webkit-box-shadow: 0 -1px 0 #354c8c;
  -moz-box-shadow: 0 -1px 0 #354c8c;
  box-shadow: 0 -1px 0 #354c8c;
  cursor: pointer;
  font-family: Helvetica neue;
  font-size: 14px;
  font-weight: bold;
  min-width: 88px;
  padding: 0 15px;
  box-sizing: border-box;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .loginView-common-submitButton {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .loginView-common-loginBtn-wrapper {
    display: block;
  }

  .loginView-formWrapper {
    width: 100%;
  }

  .loginView-common-form {
    width: 100%;
    padding: 0 15px;
  }

  .loginView-loginForm-fbLogin-button {
    width: 100%;
    margin-top: 10px;
  }
}