.root {
  margin: auto;
  width: 40%;
  min-width: 396px;
  max-width: 560px;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 48px 48px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 30px 0 rgba(141, 151, 158, 0.2);

    & > * {
      width: 100%;
      max-width: 320px;
    }

    & > img {
      width: 72px;
      margin-bottom: 16px;
    }

    & > div:not(:global(.ant-form-item)) {
      color: rgba(0, 0, 0, 0.85);
      text-align: center;

      &:nth-child(2) {
        opacity: 0.85;
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 16px;
      }

      &:nth-child(3) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 14px;
      }
    }
  }

  :global(.ant-form-item) {
    margin: 0px 0px 16px;
  }

  :global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner),
  :global(.ant-checkbox-input):focus + :global(.ant-checkbox-inner),
  :global(.ant-checkbox-checked):after {
    border-color: #7783cf;
  }

  :global(.ant-checkbox-checked) :global(.ant-checkbox-inner) {
    background-color: #7783cf;
    border-color: #7783cf;
  }

  :global(.ant-btn) {
    height: 48px;
    margin-top: 24px;
    border-radius: 50px;
  }
}

.helper:global(.ant-form-item) {
  margin: 0px 0px 6px;
  text-align: center;
}

.footer {
  margin-top: 24px;
  color: #006c91;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
