.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4fafa;
  padding: 105px 24px 16px;

  img {
    width: 100%;
    max-width: 480px;
    margin-bottom: 32px;
  }

  h1 {
    color: #4a4f5c;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  p {
    color: #757d97;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0;
  }

  p + p {
    margin-bottom: 32px;
  }

  button {
    height: auto;
    border-radius: 30px;
    background-color: #00c5dc;
    border-color: #00c5dc;
    margin-bottom: 68px;
    color: #ffffff;
    padding: 16px 42px;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
  }

  footer {
    color: #a4adbb;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }
}
