@primary-color: #00c5dc;
@layout-header-background: white;
@layout-body-background: white;
@layout-trigger-background: white;
@layout-trigger-color: #00c5dc;

@menu-color: #51b4c6;
@menu-width: 55px;
@header-height: 55px;
