@import '~@meepshop/utils/styles/variables.less';

.root {
  :global(.ant-form-item-label) {
    padding: 0;
    line-height: initial;
  }

  :global(.ant-form-item-required) {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    height: auto;

    &::before {
      content: initial;
    }
  }
}

.description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;

  @media (max-width: @screen-sm-max) {
    font-size: 16px;
  }
}

.button {
  width: 100%;
  margin: 10px 0 2px;

  &::after {
    display: none;
  }
}

.back {
  text-align: center;
  margin-bottom: 8px;

  span {
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }
}
