@import '../../../constants/styles.less';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 40px;

  @media @PHONE_MEDIA {
    padding: 50px 20px;
    justify-content: flex-start;
  }

  & > div:first-child {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }

  :global(.ant-form-item) {
    margin: 10px 0px;
  }

  :global(.ant-input) {
    border-radius: 0px;
  }
}

.buttonRoot {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;

  & > button {
    height: 50px;
    min-width: 150px;
    border-radius: 0px;
  }
}
