@import '../../../constants/styles.less';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 40px;

  @media @PHONE_MEDIA {
    padding: 50px 20px;
    justify-content: flex-start;
  }

  & > div:first-child {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }

  :global(.ant-form-item) {
    margin: 10px 0px;
  }

  :global(.ant-input) {
    border-radius: 0px;
  }
}

.buttonRoot {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  & > div {
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  & > button {
    padding: 0px;
    height: 50px;
    min-width: 150px;
    border-radius: 0px;
  }
}

.buttonRootExtend {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  @media @PHONE_MEDIA {
    display: block;
  }

  & > div {
    width: calc(50% - 15px);

    @media @PHONE_MEDIA {
      margin-bottom: 10px;
      width: 100%;
    }

    & > button {
      padding: 0px;
      height: 50px;
      width: 100%;
      border-radius: 0px;

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        & > svg {
          width: 48px;
          height: 48px;
          padding: 16px;
        }

        & > div {
          flex-grow: 1;
        }
      }
    }

    .fbButton {
      border: 1px solid #3b5998;
      color: #3b5998;
    }

    .fbIcon {
      background-color: #3b5998;
      color: #ffffff;
    }
  }
}

.hr {
  min-height: 1px;
  margin: 32px -24px;

  @media @PHONE_MEDIA {
    margin: 32px -12px;
  }
}
