@import '~@store/utils/styles/variables.less';

.root {
  height: 100%;
  flex-grow: 1;
  max-height: calc(100% - 62px);
  overflow-y: auto;

  @media (max-width: @screen-sm-max) {
    height: auto;
    flex-grow: initial;
  }
}
