@import '~@meepshop/utils/styles/variables.less';

.root {
  display: flex;
  width: 100%;

  &.FLEX_START {
    justify-content: flex-start;
  }

  &.CENTER {
    justify-content: center;
  }

  &.FLEX_END {
    justify-content: flex-end;
  }

  > a {
    padding: 8px;
    height: 40px;

    @media (max-width: @screen-sm-max) {
      padding: 8px;
      height: 48px;
    }

    > svg {
      width: 24px;
      height: 24px;

      @media (max-width: @screen-sm-max) {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.facebook {
  fill: #369;

  &.CIRCLE circle {
    fill: transparent;
  }
}

.line {
  fill: #0c0;

  &.CIRCLE {
    g:first-child > path {
      fill: transparent !important;
    }

    g:last-child > path {
      stroke: transparent !important;
    }
  }

  path + path:last-child {
    fill: #fff;
  }
}

.twitter {
  fill: #39f;

  &.CIRCLE circle {
    fill: transparent;
  }
}

.wechat {
  fill: #2dc100;

  &:not(.NONE):not(.CIRCLE) {
    path {
      fill: #fff;
    }
  }

  &.CIRCLE {
    circle {
      fill: transparent;
    }

    path {
      stroke: transparent !important;
    }
  }
}
