.root {
  height: 100%;
}

.form {
  margin: auto;
  max-width: 992px;
  flex: 1;

  h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;

    &.title {
      margin-bottom: 8px;
    }
  }
}

.item {
  display: flex;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);

  & > div {
    margin-left: 16px;

    & > div > :global(.anticon) {
      margin-left: 5px;
      font-size: 14px;
      line-height: 22px;
      vertical-align: middle;
    }

    & > div:last-child {
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.35);
    }
  }
}
