@import '~@admin/utils/lib/styles/variables.less';

.root {
  height: 100%;
  overflow: auto;
  padding: 64px 35px;
  color: rgba(0, 0, 0, 0.85);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 992px;
  height: 100%;

  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
  }
}

.content {
  margin: auto;
  max-width: 992px;

  & > section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-between;

    & > div:first-child {
      width: 344px;
      padding: 32px 48px 0 0;

      h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.65);
      }

      p {
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.35);
      }
    }

    & > div:last-child {
      width: 648px;
      background-color: #fff;
      border-radius: 4px;
      padding: 32px 24px;
    }
  }

  h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 15px;

    &.title {
      margin-bottom: 8px;
    }
  }
}

.item {
  display: flex;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);

  & > div {
    margin-left: 16px;

    & > div > i {
      font-size: 14px;
      color: @primary-color;
      margin-left: 5px;
      line-height: 22px;
      vertical-align: middle;
    }

    & > div:last-child {
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.35);
    }
  }
}

.indicator {
  margin-right: 7px;
  cursor: pointer;

  &:hover,
  &:active {
    color: @primary-color;
  }
}

.hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}

.spin {
  height: 100%;

  &:global(.ant-spin) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.ant-spin-container) {
    height: 100%;
  }

  :global(.ant-spin) {
    max-height: unset;
  }
}
