.wrapper {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.form {
  margin-top: 20px;
  margin-bottom: 100px;
  max-width: 600px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.nameInput {
  flex-basis: 100%;
  margin-right: 20px;
}

.genderInput {
  flex-basis: 50%;
}

.telInput {
  flex-basis: 100%;
  margin-right: 20px;
}

.mobileInput {
  flex-basis: 100%;
}

.submitButton {
  height: 45px;
  width: 120px;
  background-color: transparent;
}

.submitButton:hover {
  background-color: transparent;
}

.submitButton:focus {
  background-color: transparent;
}
