@import '~@store/utils/styles/variables.less';
@value screenSmMax from '@meepshop/utils/styles/variables.less';

.root {
  width: 100%;
  word-break: break-all;

  .wrapper {
    margin: 0px auto;
    padding: 40px 0px;
    max-width: 1056px;

    h1 {
      display: flex;
      justify-content: space-between;
      margin: 0px;
      padding: 0px 15px;
      font-size: 16px;

      @media (max-width: @screen-sm-max) {
        margin: 0px 0px 20px;

        & > span:last-child > span {
          display: none;
        }
      }
    }
  }
}

.table {
  :global(.ant-table) {
    @media (max-width: @screen-sm-max) {
      border-top: 1px solid #e8e8e8;
    }

    :global(.ant-table-thead) > tr > th,
    :global(.ant-table-tbody) > tr > td {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        word-break: keep-all;
        white-space: nowrap;
      }

      @media (max-width: @screen-sm-max) {
        &:nth-child(1) {
          width: 80px;
        }
      }
    }

    :global(.ant-table-thead) {
      @media (max-width: @screen-sm-max) {
        display: none;
      }
    }

    :global(.ant-table-tbody) > tr > td {
      @media (max-width: @screen-sm-max) {
        padding: 10px;

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          display: none;
        }
      }
    }

    :global(.ant-table-tbody) > tr > td:nth-child(2) > div {
      display: none;

      @media (max-width: @screen-sm-max) {
        display: block;
      }
    }

    :global(.ant-table-body) > table > colgroup > col {
      @media (max-width: @screen-sm-max) {
        width: initial !important;
        min-width: initial !important;
      }
    }
  }
}
