.root {
  margin-top: 24px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 56px;
  }
}

.title {
  margin: 0px 0px 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 22px;
  line-height: 31px;
}

.subTitle {
  margin: 0px 0px 32px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  line-height: 24px;
}
