.icon {
  margin: 0px 0px 0px 2px;
  font-size: 14px;
  color: #c4cad5;
}

.instruction {
  margin-left: 8px !important;

  &:visited,
  &:focus {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.65);
  }

  &:hover {
    color: #25dbe8;
    background: #fff;
    border-color: #25dbe8;
  }
}

.apiKey {
  margin: 12px 0px 0px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.65);
  background: rgba(240, 243, 247, 0.6);
  border-radius: 2px;

  &.HELPER {
    font-size: 12px;
    line-height: 20px;
    color: #626c82;

    span {
      margin: 0px 4px 0px 0px;
      font-size: 14px;
    }
  }

  & > div {
    margin: 0px 0px 4px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.45);
  }

  span {
    margin: 0px 0px 0px 8px;
    color: #5967c5;
    font-size: 16px;
  }
}

.priceTooltip {
  max-width: 192px;
}

.button {
  :global(.ant-btn.ant-btn-primary):disabled {
    background: #f5f5f5;
    border-color: #d9d9d9;
  }
}
