.root {
  max-width: 400px;

  :global(.ant-modal-body) {
    padding: 16px 32px 24px;
  }

  :global(.ant-modal-confirm-body) {
    text-align: center;

    img {
      margin: 0px 0px 12px;
    }
  }

  :global(.ant-modal-confirm-btns) {
    width: 100%;
    text-align: center;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.content {
  margin: 8px 0px 0px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);

  div span {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
  }
}
