.root {
  max-width: 576px;

  :global(.ant-modal-body) {
    padding: 24px 24px 16px;
  }

  :global(.ant-modal-confirm-title) {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }

  :global(.ant-modal-confirm-content) {
    margin: 16px 0px 0px;
  }

  :global(.ant-modal-confirm-btns) {
    margin: 32px 0px 0px;
  }
}

.content {
  display: flex;
  align-items: center;
  margin: 0px 0px 24px;
  padding: 24px 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.45);

  img {
    margin: 0px 8px 0px 0px;
    width: 64px;
    height: 64px;
  }

  & > div:last-child {
    flex: 1 0 auto;
    margin: 0px 0px 0px 48px;
    text-align: right;

    .title {
      font-weight: 500;

      span {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

.title {
  margin: 0px 0px 4px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.65);
}

.featureTitle {
  margin: 0px 0px 6px 8px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.feature {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.65);

  :global(.anticon) {
    margin: 0px 8px 0px 16px;
    color: #0080a9;
  }
}

.warn {
  position: absolute;
  bottom: 22px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.25);

  :global(.anticon) {
    margin: 0px 4px 0px 0px;
  }
}

.success {
  :global(.ant-modal-confirm-btns) {
    margin: 8px 0px 0px;
  }

  :global(.ant-btn.ant-btn-primary) {
    margin: 24px 0px 0px;
  }
}
