.hightline,
.expirationDate {
  font-weight: 600;
}

.expirationDate {
  color: rgba(0, 0, 0, 0.85);
}

.warn {
  margin: 24px 0px 0px !important;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.45);
}
