.coverImage {
  padding: 12px 4px 12px 12px;

  > div {
    height: 36px !important;
    width: 36px !important;
  }
}

.sku {
  min-width: 68px;
  word-break: keep-all;
  white-space: nowrap;
}

.icon {
  margin-left: 5px;
}

.edit {
  display: none;
}

.offline {
  color: rgba(0, 0, 0, 0.25);
}

.shipmentWrap:hover {
  color: #0099c3;

  .edit {
    display: inline-block;
    margin-left: 6px;
  }

  .offline {
    color: #0099c3;
  }
}

.shipment:not(:nth-last-child(2))::after {
  content: '、';
}
