.coverImage {
  padding: 12px 4px 12px 12px;

  > div {
    height: 36px !important;
    width: 36px !important;
  }
}

.sku {
  min-width: 68px;
  word-break: keep-all;
  white-space: nowrap;
}

.icon {
  margin-left: 5px;
}
