@import '~@admin/utils/styles/variables.less';

.root {
  width: 100%;
  padding: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.table {
  td {
    color: rgba(0, 0, 0, 0.85);

    a {
      color: @primary-color;
    }
  }

  :global(.ant-table-placeholder) :global(.ant-table-cell) {
    border-bottom: none;
  }

  :global(.ant-checkbox-checked) {
    &::after {
      border-color: @primary-color;
    }

    :global(.ant-checkbox-inner) {
      background-color: @primary-color;
      border-color: @primary-color;
    }
  }

  :global(.ant-checkbox):hover,
  :global(.ant-checkbox-wrapper):hover,
  :global(.ant-checkbox-input):focus {
    :global(.ant-checkbox-inner) {
      border-color: @primary-color;
    }

    & + :global(.ant-checkbox-inner) {
      border-color: @primary-color;
    }
  }

  :global(.ant-checkbox-indeterminate) :global(.ant-checkbox-inner)::after {
    background-color: @primary-color;
  }
}
