@import '~@admin/utils/styles/variables.less';

.root {
  width: 100%;
  padding: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.table td {
  color: rgba(0, 0, 0, 0.85);

  a {
    color: @primary-color;
  }
}
