.root {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 13px;
  border: 2px solid transparent;
  vertical-align: middle;
  cursor: pointer;

  &:not(:nth-child(3)) {
    margin: 0px 16px 0px 0px;
  }

  &.selected {
    background: rgba(223, 245, 250, 0.2);
    border-radius: 4px;
    border: 2px solid #43cfe3;
  }

  :global(.anticon.anticon-check-circle) {
    position: absolute;
    top: -12px;
    right: -12px;
    color: #48bc19;
    background: white;
    font-size: 24px;
  }
}

.icon {
  margin: 0px 0px 8px;
}

.text {
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 17px;
}
