.root {
  :global(.ant-alert) {
    margin-bottom: 12px;
    padding: 12px 24px;

    :global(.ant-alert-icon) {
      font-size: 20px;
      margin-right: 16px;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }

  :global(.ant-alert-message),
  :global(.ant-alert-description) {
    > span {
      color: #0080a9;
      font-weight: 600;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  :global(.ant-alert-message) {
    color: rgba(0, 0, 0, 0.85);
  }

  :global(.ant-alert-warning) {
    background-color: #fff7e6;
    border: 1px solid #ffc069;
  }

  :global(.ant-alert-error) {
    background-color: #fff1f0;
    border: 1px solid #ffa39e;
  }

  :global(.ant-alert-info) {
    background-color: #e8e9f7;
    border: 1px solid #9ea6dd;

    :global(.ant-alert-icon) {
      color: #3342ac;
    }
  }
}
