.member-root {
  width: 100%;

  .title {
    text-align: center;
    height: 50;
    line-height: 50px;
    font-size: 18px;

    .arrow {
      position: absolute;
      height: 50px;
      width: 50px;
      line-height: 50px;
      cursor: pointer;

      > i {
        border-style: solid;
        border-radius: 1px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(135deg);
      }
    }
  }
}
