@import '~@store/utils/styles/variables.less';

.orderProductList {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 560px;
  height: 100%;

  @media (max-width: @screen-sm-max) {
    position: initial;
    width: 100%;
    height: calc(100% - 65px);
    border-left: 0px !important;
  }
}
