.root {
  display: inline-block;
  margin: 0px 0px 0px 8px;
  padding: 0px 8px;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  color: #626c82;
  background: #e6ebf1;
  border-radius: 34px;

  &.IN_PROGRESS {
    color: #41a716;
    background: #d9f7be;
  }
}
