.root {
  margin: auto;
  max-width: 992px;
  flex: 1;

  :global(.admin-block__index__root) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:nth-last-child(1) {
      border-color: transparent;
    }
  }
}
