.contentMarginBottom {
  margin-bottom: -24px;
}

.notEditableLabel {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
}

.notEditableValue {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}

.label {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  padding-bottom: 8px;
}

.select {
  width: 288px;
}

.questionIcon {
  font-size: 14px;
  line-height: 20px;
  color: #00c5dc;
  margin-left: 5px;
  cursor: pointer;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
