.cardNumber :global(.ant-input) {
  letter-spacing: 1.5px;
}

.expireAndSecurityCode {
  display: flex;

  :global(.ant-form-item) {
    &:first-child {
      flex: 7;
    }

    &:last-child {
      flex: 4;
      margin: 0px 0px 0px 10px;
    }
  }
}
