.root {
  width: 100%;
}

.notGmoBank {
  margin: 14px 0px 0px;
  padding: 14px 16px;
  background: rgba(204, 204, 204, 0.15);
  border-radius: 2px;
  line-height: 22px;

  h4 {
    margin: 0px 0px 14px;
    color: #f5222d;
    font-weight: normal;
  }
}
