.popover {
  padding: 0;

  :global(.ant-popover-arrow) {
    display: none;
  }

  :global(.ant-popover-inner) {
    background-color: transparent;
    border-radius: unset;
    box-shadow: none;
  }

  :global(.ant-popover-inner-content) {
    padding: 0;
    transform: translateY(-3px);
  }
}

.drawer {
  :global(.ant-drawer-content) {
    background-color: transparent;
  }

  :global(.ant-drawer-body) {
    padding: 0;
  }
}
