.divider {
  width: 100%;
  height: 1px;
  margin: 32px 0px;
}

.title {
  margin: 0px 0px 16px;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 25px;
}

.subTitle {
  margin: 0px 0px 24px;
  font-size: 14px;
  line-height: 22px;
}

.submit {
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}
