.pathTooltip {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
}

.tooltip {
  margin-left: 4px;
}

.actions {
  display: none;
}

.editIcon {
  background-color: #5967c5;
  color: #fff;
  border-color: #5967c5;
  margin-right: 8px;
}

.deleteIcon {
  background-color: #fff;
  color: #ff4d4f;
  border-color: #ff4d4f;
}
