@import '../../constants/styles.less';

.root {
  :global(.ant-table) {
    color: inherit;

    @media @PHONE_MEDIA {
      border-top: 1px solid #e8e8e8;
    }

    :global(.ant-table-thead) {
      & > tr > th {
        background: transparent;
        font-size: 16px;
      }

      @media @PHONE_MEDIA {
        display: none;
      }
    }

    :global(.ant-table-thead > tr > th),
    :global(.ant-table-tbody > tr > td) {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        word-break: keep-all;
        white-space: nowrap;
      }
    }

    :global(.ant-table-tbody > tr > td):nth-child(2) > div {
      display: none;
    }

    @media @PHONE_MEDIA {
      :global(.ant-table-tbody) > tr > td {
        padding: 10px;

        &:nth-child(2) > div {
          display: block;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          display: none;
        }
      }

      :global(.ant-table-body) > table > colgroup > col {
        width: initial !important;
        min-width: initial !important;
      }
    }
  }
}
