@import '~@store/utils/lib/styles/variables.less';

.wrapper {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;

  @media @phone-media {
    width: 60px;
    height: 60px;
  }
}

.image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
